* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system;
  font-size: 18px;
}
a {
  text-decoration: none;
}

a:hover {
  color: white;
  cursor: pointer;
}

img {
  vertical-align: middle;
}
button {
  cursor: pointer;
}
hr {
  border-color: rgba(0, 0, 0, 0.05);
}
.fraunces {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}
.fraunces-h2 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}
.fraunces-md {
  font-family: "Fraunces", serif;
  font-size: 3rem;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  letter-spacing: 0.8rem;
}

.text-color-gray {
  color: rgb(169, 168, 166, 0.8);
}
.text-color-gray-dark {
  color: rgba(79, 77, 76, 0.758);
}

.letter-spacing-sm {
  letter-spacing: 0.2rem;
}
.letter-spacing-md {
  letter-spacing: 0.5rem;
}
.letter-spacing-lg {
  letter-spacing: 0.8rem;
}

.fn-size-sm {
  font-size: 0.8rem;
}
.fn-size-md {
  font-size: 1rem;
}
.fn-size-lg {
  font-size: 1.5rem;
}
.fn-size-xl {
  font-size: 2rem;
}

.barlow-light {
  font-family: "Barlow", serif;
  font-weight: 500;
  font-style: normal;
}

.img-fluid {
  width: 100%;
}

.container-sm {
  margin: 0 auto;
}
.container-md {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}
.container-lg {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}
.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.space-bt {
  justify-content: space-between;
}
.space-ar {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}

.div-position {
  top: 25%;
  left: 25%;
}
.position-arrow-down {
  bottom: 40.5%;
  left: 48.8%;
}

.color-white {
  color: white;
}

.b-radius-sm {
  border-radius: 0.5rem;
}
.b-radius-md {
  border-radius: 2rem;
}
.b-radius-lg {
  border-radius: 3rem;
}

.gap-sm {
  gap: 1rem;
}
.gap-md {
  gap: 2rem;
}
.gap-lg {
  gap: 4rem;
}
.py-sm {
  padding: 1.25rem 0;
}
.py-md {
  padding: 2rem 0;
}
.py-lg {
  padding: 5rem 0;
}
.px-sm {
  padding: 0 1.25rem;
}
.px-md {
  padding: 0 2rem;
}
.px-lg {
  padding: 0 5rem;
}
.capitalize {
  text-transform: capitalize;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.line-height-sm {
  line-height: 1.5rem;
}
.line-height-md {
  line-height: 2rem;
}
.line-height-lg {
  line-height: 3rem;
}
.uppercase {
  text-transform: uppercase;
}
.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  background: transparent;
}
.btn-main {
  background: rgba(255, 255, 255, 0.945);
  color: black;
}
.btn-main:hover {
  background: rgba(255, 255, 255, 0.37);
  color: white;
}

.btn-secondary {
  border: none;
  padding: 0.5rem 1.5rem 0.5rem 0px 0;
  width: 20%;
  background-color: transparent;
}
.btn-secondary:hover {
  box-shadow: 0px 10px 5px 1px rgba(232, 155, 21, 1);
  border: none;
  padding: 0.5rem 1.5rem 0.5rem 0px 0;
  width: 20%;
  background-color: transparent;
}

.shadow-down {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
}
.shadow-up {
  box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.1);
}
.bg-transparent {
  background: transparent;
}
.bg-blue {
  background: rgb(62, 191, 255);
}
.bg-green {
  background: rgb(144, 212, 197);
}

.image-gallery {
  width: 100%; /* Contenedor ocupa el 100% del espacio */
  overflow: hidden; /* Evita desbordamiento */
}

.image-gallery article {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual ancho */

  max-width: 100%; /* Evita desbordamiento */
}

.image-gallery img {
  width: 100%; /* Las imágenes se ajustan a la celda del grid */
  height: auto; /* Mantiene proporciones */
  object-fit: cover; /* Ajusta la imagen sin deformarla */
}

.card-container-c {
  position: absolute;
  top: 75%; /* Centrar verticalmente */
  left: 50%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%);
  width: 59%;
  text-align: center;
}

.card-client {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  text-align: center;
}
.card-footer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.icon {
  transition: stroke 0.3s ease;
  color: rgba(3, 79, 84, 0.945);
}

.icon:hover {
  color: white;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.card:nth-child(even) img {
  order: 1;
}
.card:nth-child(even) .card-content {
  order: 2;
}
.card-content {
  color: black;
  text-align: center;
  display: grid;
  gap: 2rem;
  padding: 0 4rem;
}
.card-content h2 {
  font-size: 1.875em;
}
.card-content p {
  font-size: 1.1875em;
}
.card-v {
  padding: 3rem 0 1.5rem;
}
main section {
  display: grid;
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
}
.promos .btn {
  border: 1px solid black;
  margin-top: 1rem;
}
.menu-links a {
  padding: 0 1.4rem;
  border-right: 1px solid black;
  text-align: center;
}
.menu-links a:last-child {
  border-right: none;
}

.icon-menu {
  display: none;
}

@media screen and (width <= 768px) {
  .card {
    grid-template-columns: 1fr;
  }
  .card-content {
    padding: 3rem 2rem;
  }
  .container-md {
    width: 90%;
  }
  .container-lg {
    width: 100%;
  }
  .card:nth-child(even) img {
    order: 1;
  }
  .card:nth-child(even) .card-content {
    order: 2;
  }
  .promos {
    grid-template-columns: 1fr;
  }
  .menu-footer {
    flex-direction: column;
  }
  .menu-links {
    flex-wrap: wrap;
  }
  .d-none {
    display: none;
  }
  .icon-menu {
    display: block;
  }
}
