/* RESETEO DE ESTILOS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
.img-fluid {
  width: 100%;
}
/* FUENTES */
.fraunces {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}
.fraunces-h2 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}
.fraunces-md {
  font-family: "Fraunces", serif;

  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}
.fraunces-lg {
  font-family: "Fraunces", serif;

  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}
.barlow {
  font-family: "Barlow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  letter-spacing: 0.2rem;
}
.barlow-light {
  font-family: "Barlow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  letter-spacing: 0.2rem;
}
.barlow-md {
  font-family: "Barlow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  letter-spacing: 0.2rem;
}
.barlow-lg {
  font-family: "Barlow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  letter-spacing: 0.2rem;
}
/* COLORES DE TEXTO */
.text-white {
  color: white;
}
.text-color-gray {
  color: hsl(210, 4%, 67%);
}
.text-color-gray-dark {
  color: hsl(213, 9%, 39%);
}
.text-color-white {
  color: hsl(0, 0%, 100%);
}
/* ALINEADO DE TEXTO */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-justify {
  text-align: justify;
}
.t-last-start {
  text-align-last: start;
}
.t-last-end {
  text-align-last: end;
}
.t-last-justify {
  text-align-last: justify;
}
.t-last-center {
  text-align-last: center;
}

/* TAMAÑOS DE TEXTO Y ESPACIADO DE  LINEAS, CARACTERES Y TRANSFORMACIONES*/
.fn-size-xsm {
  font-size: 0.7rem;
}
.fn-size-sm {
  font-size: 1.2rem;
}
.fn-size-md {
  font-size: 3.8rem;
}
.fn-size-lg {
  font-size: 4.5rem;
}
.fn-size-xlg {
  font-size: 5rem;
}

.line-height-sm {
  line-height: 1.5rem;
}
.line-height-md {
  line-height: 2rem;
}
.line-height-lg {
  line-height: 3rem;
}

.lt-xsm {
  letter-spacing: 1px;
}
.lt-sm {
  letter-spacing: 1rem;
}
.lt-md {
  letter-spacing: 3rem;
}
.lt-lg {
  letter-spacing: 5rem;
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

/* COLORES DE FONDO */
.bg-color-gray {
  background-color: hsl(0, 0%, 100%);
}
.bg-green {
  background-color: hsl(167, 40%, 24%);
}
.bg-blue {
  background-color: rgb(61, 190, 255);
}
/* ESTILOS DE CONTENEDOR  */
.container {
  margin: 0 auto;
  width: 100%;
}
.container-sm {
  max-width: 768px;
  margin: 0 auto;
}
.container-md {
  max-width: 1024px;
  margin: 0 auto;
}
.container-lg {
  max-width: 1440px;
  margin: 0 auto;
}
/* ESTILOS DE PARRAFO */
.custom-p {
  display: inline-block;
  background-color: indianred;
  line-height: 1.8; /* Espaciado entre líneas */
  width: 95%;
  text-align: left;
  text-wrap: wrap;
}

/* Aumentar progresivamente la indentación en cada línea */
.custom-p br:nth-of-type(1) {
  display: block;
  margin-left: 20px; /* Ajusta según el efecto deseado */
}

.custom-p br:nth-of-type(2) {
  display: block;
  margin-left: 40px; /* Más indentación para esta línea */
}

/* ESTILOS GLOBALES */
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.justify-center {
  justify-content: center;
}
.space-bt {
  justify-content: space-between;
}
.py-xsm {
  padding: 1rem 0;
}
.py-sm {
  padding: 2rem 0;
}
.py-md {
  padding: 4rem 0;
}
.py-lg {
  padding: 6rem 0;
}
.px-sm {
  padding: 0 2rem;
}
.px-md {
  padding: 0 4rem;
}
.px-lg {
  padding: 0 6rem;
}
.gap-sm {
  gap: 2rem;
}
.gap-md {
  gap: 4rem;
}
.gap-lg {
  gap: 6rem;
}
/* ESTILOS DE POSICION RELATIVA Y ABASOLUTA  */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}

.div-position {
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-arrow-down {
  left: 48.8%;
  top: 48%;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.card:nth-child(even) img {
  order: 1;
}
.card:nth-child(even) .card-content {
  order: 2;
}
.card-content {
  width: 80%;
  display: grid;
  gap: 2rem;
  padding: 0 1rem;
}

main section {
  display: grid;
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
}
.promos .btn {
  border: 1px solid black;
  margin-top: 1rem;
}
.menu-links a {
  padding: 0 1.4rem;
  border-right: 1px solid black;
  text-align: center;
}
.menu-links a:last-child {
  border-right: none;
}

.icon-menu {
  display: none;
}

@media screen and (width <= 768px) {
  .card {
    grid-template-columns: 1fr;
  }
  .card-content {
    padding: 3rem 2rem;
  }
  .container-md {
    width: 90%;
  }
  .container-lg {
    width: 100%;
  }
  .card:nth-child(even) img {
    order: 2;
  }
  .card:nth-child(even) .card-content {
    order: 1;
  }
  .promos {
    grid-template-columns: 1fr;
  }
  .menu-footer {
    flex-direction: column;
  }
  .menu-links {
    flex-wrap: wrap;
  }
  .d-none {
    display: none;
  }
  .icon-menu {
    display: block;
  }
}
