/* RESETEO DE ESTILOS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
.img-fluid {
  width: 100%;
}
/* FUENTES */
.fraunces {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}
.fraunces-h2 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}
.fraunces-md {
  font-family: "Fraunces", serif;

  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}
.fraunces-lg {
  font-family: "Fraunces", serif;

  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}
.barlow-n {
  font-family: "Barlow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}
.barlow {
  font-family: "Barlow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}
.barlow-light {
  font-family: "Barlow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  letter-spacing: 0.2rem;
}
.barlow-md {
  font-family: "Barlow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  letter-spacing: 0.2rem;
}
.barlow-lg {
  font-family: "Barlow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  letter-spacing: 0.2rem;
}
/* COLORES DE TEXTO */
.text-white {
  color: white;
}
.text-color-gray {
  color: hsl(210, 4%, 67%);
}
.text-color-gray-dark {
  color: hsl(213, 9%, 39%);
}
.text-color-white {
  color: hsl(0, 0%, 100%);
}
.text-color-greemdark {
  color: rgb(33, 65, 46);
}

.text-bold {
  font-weight: bold;
}
.text-bold-xsm {
  font-weight: 500;
}
.text-bold-sm {
  font-weight: 600;
}
.text-bold-md {
  font-weight: 700;
}
.text-bold-lg {
  font-weight: 800;
}
/* ALINEADO DE TEXTO */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-justify {
  text-align: justify;
}
.t-last-start {
  text-align-last: start;
}
.t-last-end {
  text-align-last: end;
}
.t-last-justify {
  text-align-last: justify;
}
.t-last-center {
  text-align-last: center;
}

/* TAMAÑOS DE TEXTO Y ESPACIADO DE  LINEAS, CARACTERES Y TRANSFORMACIONES*/
.fn-size-xsm {
  font-size: 1.2rem;
}
.fn-size-sm {
  font-size: 1.5rem;
}
.fn-size-md {
  font-size: 3.8rem;
}
.fn-size-lg {
  font-size: 4.5rem;
}
.fn-size-xlg {
  font-size: 5rem;
}

.line-height-sm {
  line-height: 1.5rem;
}
.line-height-md {
  line-height: 2rem;
}
.line-height-lg {
  line-height: 3rem;
}

.lt-n {
  letter-spacing: 0.2rem;
}
.lt-xsm {
  letter-spacing: 10px;
}
.lt-sm {
  letter-spacing: 1rem;
}
.lt-md {
  letter-spacing: 3rem;
}
.lt-lg {
  letter-spacing: 5rem;
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

/* COLORES DE FONDO */
.bg-color-gray {
  background-color: hsl(0, 0%, 100%);
}
.bg-green {
  background-color: hsl(167, 40%, 24%);
}
.bg-green-light {
  background-color: rgb(144, 212, 197);
}
.bg-blue {
  background-color: rgb(62, 191, 255);
}
/* ESTILOS DE CONTENEDOR  */
.container {
  margin: 0 auto;
  width: 100%;
}
.container-sm {
  max-width: 768px;
  margin: 0 auto;
}
.container-md {
  max-width: 1024px;
  margin: 0 auto;
}
.container-lg {
  max-width: 1440px;
  margin: 0 auto;
}
/* ESTILOS GLOBALES */
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}

.flex-wrap {
  flex-wrap: wrap;
}

.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.justify-center {
  justify-content: center;
}
.space-bt {
  justify-content: space-between;
}
.py-xsm {
  padding: 1rem 0;
}
.py-sm {
  padding: 2rem 0;
}
.py-md {
  padding: 4rem 0;
}
.py-lg {
  padding: 6rem 0;
}
.px-sm {
  padding: 0 2rem;
}
.px-md {
  padding: 0 4rem;
}
.px-lg {
  padding: 0 6rem;
}
.gap-sm {
  gap: 2rem;
}
.gap-md {
  gap: 4rem;
}
.gap-lg {
  gap: 6rem;
}
/* ESTILOS DE POSICION RELATIVA Y ABASOLUTA  */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}

.div-position {
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-arrow-down {
  left: 48.8%;
  top: 48%;
}
.position-fruits {
  left: 10%;
  bottom: 18%;
}

/* ESTILOS DE BOTONES */
.btn-main {
  background-color: white;
  color: black;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
}
.btn-main:hover {
  background-color: rgba(255, 255, 255, 0.335);
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
}
/* iconos footer */
.icon {
  transition: filter 0.3s ease; /* Transición suave */
}

.icon:hover {
  filter: brightness(0) invert(1); /* Cambia el color a blanco */
}

.icon-footer {
  filter: brightness(0) saturate(100%) invert(42%) sepia(20%) saturate(1018%)
    hue-rotate(116deg) brightness(89%) contrast(93%);
}

.h-color:hover {
  color: white;
}
.btn-secondary-orange {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0rem 0.5rem;
}

.btn-secondary-orange::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 8px;
  background: rgba(255, 165, 0, 0.5); /* Naranja desvanecido */
  border-radius: 4px;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

.btn-secondary-orange:hover::after {
  width: 100%; /* Se expande al ancho completo */
}

.btn-secondary-cherry {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0rem 0.5rem;
}

.btn-secondary-cherry::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 8px;
  background: rgba(255, 123, 106, 0.5); /* cherry */
  border-radius: 4px;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

.btn-secondary-cherry:hover::after {
  width: 100%; /* Se expande al ancho completo */
}
.b-r-16 {
  border-radius: 16%;
}
.b-r-20 {
  border-radius: 20px;
}
.b-r-50 {
  border-radius: 50%;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.card:nth-child(even) img {
  order: 1;
}
.card:nth-child(even) .card-content {
  order: 2;
}
.card-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem rem;
}

.position-fruits {
  left: 10%;
  bottom: 18%;
}

main section {
  display: grid;
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
}
.promos .btn {
  border: 1px solid black;
  margin-top: 1rem;
}
.menu-links a {
  padding: 0 1.4rem;
  border-right: 1px solid black;
  text-align: center;
}
.menu-links a:last-child {
  border-right: none;
}

.icon-menu {
  display: none;
}

.image-gallery {
  width: 100%; /* Contenedor ocupa el 100% del espacio */
  overflow: hidden; /* Evita desbordamiento */
}

.image-gallery article {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual ancho */

  max-width: 100%; /* Evita desbordamiento */
}

.image-gallery img {
  width: 100%; /* Las imágenes se ajustan a la celda del grid */
  height: auto; /* Mantiene proporciones */
  object-fit: cover; /* Ajusta la imagen sin deformarla */
}

@media screen and (width <= 768px) {
  .card {
    grid-template-columns: 1fr;
  }
  .card-content {
    padding: 3rem 2rem;
  }
  .container-md {
    width: 90%;
  }
  .container-lg {
    width: 100%;
  }
  .card:nth-child(even) img {
    order: 1;
  }
  .card :nth-child(even) .card-content {
    order: 2;
  }
  .promos {
    grid-template-columns: 1fr;
  }
  .position-fruits {
    left: 10%;
    bottom: 0%;
  }
  .menu-footer {
    flex-direction: column;
  }
  .menu-links {
    flex-wrap: wrap;
  }
  .d-none {
    display: none;
  }
  .icon-menu {
    display: block;
  }
  .image-gallery article {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 columnas de igual ancho */

    max-width: 100%; /* Evita desbordamiento */
  }
  .col {
    grid-template-columns: 1fr;
  }
}
